
<%= @list.name %>

<p><strong>Bookmarks, I guess</strong></p>
<ul class="list-group">
  <% @list.bookmarks.each do |mark| %>
    <li class="list-group-item"><%= mark.comment %> <%= link_to 'Delete', mark, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}%></li>
  <% end %>
</ul>
<br>
